.clase1{
	text-align:center;
	font-style:italic;
}

.clase2{
	text-align:right;
	font-family: "Lucida Console", Courier, monospace;
}

#id1{
	text-decoration: line-through;
}

h1{
	color:red;
	font-size: 30px;
	text-align:center;
}

p{
	border:1px;
	border-style: dotted;
	margin: 20px 20px 20px 20px;
	padding: 20px 20px 20px 20px;
}

a{
	text-decoration: none;
}

a:hover{
	color:red;
	font-size:25px;
}

ul{
	list-style-type: square;
}

ol{
	list-style-type: circle;
}

table{
	background-color:hotpink;
}

th{
	background-color:#D3D3D3;
}

img{
	float:left;
}

body{
	background-color:#E5F6F9
}